openapi: 3.0.0
info:
  contact:
    email: techsupport@paystack.com
    name: Paystack Integration
    url: https://paystack.com/docs
  description: The OpenAPI specification of the Paystack API that merchants and developers
    can harness to build financial solutions in Africa.
  title: Paystack
  version: 1.0.0
servers:
- description: Base API endpoint
  url: https://api.paystack.co
security:
- bearerAuth: []
tags:
- name: Transaction
- name: Split
- name: Customer
- name: Dedicated Virtual Account
- name: Subaccount
- name: Plan
- name: Subscription
- name: Product
- name: Page
- name: Payment Request
- name: Settlement
- name: Transfer Recipient
- name: Transfer
- name: Balance
- name: Charge
- name: Bulk Charge
- name: Integration
- name: Refund
- name: Dispute
- name: Verification
paths:
  /transaction/initialize:
    post:
      description: Create a new transaction
      operationId: transaction_initialize
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionInitialize'
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionInitialize'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Initialize Transaction
      tags:
      - Transaction
  /transaction/verify/{reference}:
    get:
      description: Verify a previously initiated transaction using it's reference
      operationId: transaction_verify
      parameters:
      - description: The transaction reference to verify
        explode: false
        in: path
        name: reference
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Verify Transaction
      tags:
      - Transaction
  /transaction:
    get:
      description: List transactions that has occurred on your integration
      operationId: transaction_list
      parameters:
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The section to retrieve
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: List Transactions
      tags:
      - Transaction
  /transaction/{id}:
    get:
      description: Fetch a transaction to get its details
      operationId: transaction_fetch
      parameters:
      - description: The ID of the transaction to fetch
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Transaction
      tags:
      - Transaction
  /transaction/timeline/{id_or_reference}:
    get:
      description: Get the details about the lifecycle of a transaction from initiation
        to completion
      operationId: transaction_timeline
      parameters:
      - explode: false
        in: path
        name: id_or_reference
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Transaction Timeline
      tags:
      - Transaction
  /transaction/totals:
    get:
      description: Get the total amount of all transactions
      operationId: transaction_totals
      parameters:
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The section to retrieve
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Transaction Totals
      tags:
      - Transaction
  /transaction/export:
    get:
      operationId: transaction_download
      parameters:
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The section to retrieve
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Export Transactions
      tags:
      - Transaction
  /transaction/charge_authorization:
    post:
      operationId: transaction_chargeAuthorization
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionChargeAuthorization'
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionChargeAuthorization'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Charge Authorization
      tags:
      - Transaction
  /transaction/check_authorization:
    post:
      operationId: transaction_checkAuthorization
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionCheckAuthorization'
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCheckAuthorization'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Check Authorization
      tags:
      - Transaction
  /transaction/partial_debit:
    post:
      operationId: transaction_partialDebit
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransactionPartialDebit'
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionPartialDebit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Partial Debit
      tags:
      - Transaction
  /transaction/{id}/event:
    get:
      operationId: transaction_event
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Get Transaction Event
      tags:
      - Transaction
  /transaction/{id}/session:
    get:
      operationId: transaction_session
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Get Transaction Session
      tags:
      - Transaction
  /split:
    get:
      operationId: split_list
      parameters:
      - explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: active
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort_by
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: List/Search Splits
      tags:
      - Split
    post:
      operationId: split_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SplitCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/SplitCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Split
      tags:
      - Split
  /split/{id}:
    get:
      operationId: split_fetch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Split
      tags:
      - Split
    put:
      operationId: split_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SplitUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/SplitUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Update Split
      tags:
      - Split
  /split/{id}/subaccount/add:
    post:
      operationId: split_addSubaccount
      parameters:
      - example: application/json
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SplitSubaccounts'
          application/json:
            schema:
              $ref: '#/components/schemas/SplitSubaccounts'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Add Subaccount to Split
      tags:
      - Split
  /split/{id}/subaccount/remove:
    post:
      operationId: split_removeSubaccount
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SplitSubaccounts'
          application/json:
            schema:
              $ref: '#/components/schemas/SplitSubaccounts'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Remove Subaccount from split
      tags:
      - Split
  /customer:
    get:
      description: List customers on your integration
      operationId: customer_list
      parameters:
      - explode: true
        in: query
        name: use_cursor
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: next
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: previous
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: from
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: to
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: List Customers
      tags:
      - Customer
    post:
      operationId: customer_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Customer
      tags:
      - Customer
  /customer/{code}:
    get:
      operationId: customer_fetch
      parameters:
      - explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Customer
      tags:
      - Customer
    put:
      operationId: customer_update
      parameters:
      - explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Update Customer
      tags:
      - Customer
  /customer/set_risk_action:
    post:
      description: Set customer's risk action by whitelisting or blacklisting the
        customer
      operationId: customer_riskAction
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerRiskAction'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRiskAction'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: White/blacklist Customer
      tags:
      - Customer
  /customer/deactivate_authorization:
    post:
      description: Deactivate a customer's card
      operationId: customer_deactivateAuthorization
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerDeactivateAuthorization'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerDeactivateAuthorization'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Deactivate Authorization
      tags:
      - Customer
  /customer/{code}/identification:
    post:
      description: Validate a customer's identity
      operationId: customer_validate
      parameters:
      - explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerValidation'
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerValidation'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accepted'
          description: Request accepted for processing
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Validate Customer
      tags:
      - Customer
  /dedicated_account:
    get:
      operationId: dedicatedAccount_list
      parameters:
      - explode: true
        in: query
        name: account_number
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: customer
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: provider_slug
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: bank_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: List Dedicated Accounts
      tags:
      - Dedicated Virtual Account
    post:
      operationId: dedicatedAccount_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Dedicated Account
      tags:
      - Dedicated Virtual Account
  /dedicated_account/{account_id}:
    delete:
      operationId: dedicatedAccount_deactivate
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Deactivate Dedicated Account
      tags:
      - Dedicated Virtual Account
    get:
      operationId: dedicatedAccount_fetch
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Dedicated Account
      tags:
      - Dedicated Virtual Account
  /dedicated_account/available_providers:
    get:
      operationId: dedicatedAccount_availableProviders
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Bank Providers
      tags:
      - Dedicated Virtual Account
  /dedicated_account/split:
    delete:
      operationId: dedicatedAccount_removeSplit
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountSplit'
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountSplit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Remove Split from Dedicated Account
      tags:
      - Dedicated Virtual Account
    post:
      operationId: dedicatedAccount_addSplit
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountSplit'
          application/json:
            schema:
              $ref: '#/components/schemas/DedicatedVirtualAccountSplit'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Split Dedicated Account Transaction
      tags:
      - Dedicated Virtual Account
  /subaccount:
    get:
      operationId: subaccount_list
      parameters:
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The section to retrieve
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: List Subaccounts
      tags:
      - Subaccount
    post:
      operationId: subaccount_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubaccountCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Subaccount
      tags:
      - Subaccount
  /subaccount/{code}:
    get:
      operationId: subaccount_fetch
      parameters:
      - explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Subaccount
      tags:
      - Subaccount
    put:
      operationId: subaccount_update
      parameters:
      - explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubaccountUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/SubaccountUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Update Subaccount
      tags:
      - Subaccount
  /plan:
    get:
      operationId: plan_list
      parameters:
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The section to retrieve
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Specify interval of the plan
        explode: true
        in: query
        name: interval
        required: false
        schema:
          type: string
        style: form
      - description: The amount on the plans to retrieve
        explode: true
        in: query
        name: amount
        required: false
        schema:
          type: integer
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: List Plans
      tags:
      - Plan
    post:
      operationId: plan_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PlanCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/PlanCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Plan
      tags:
      - Plan
  /plan/{code}:
    get:
      operationId: plan_fetch
      parameters:
      - explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Plan
      tags:
      - Plan
    put:
      operationId: plan_update
      parameters:
      - explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PlanUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/PlanUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Update Plan
      tags:
      - Plan
  /subscription:
    get:
      operationId: subscription_list
      parameters:
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The section to retrieve
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Plan ID
        explode: true
        in: query
        name: plan
        required: false
        schema:
          type: string
        style: form
      - description: Customer ID
        explode: true
        in: query
        name: customer
        required: false
        schema:
          type: string
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: List Subscriptions
      tags:
      - Subscription
    post:
      operationId: subscription_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubscriptionCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Subscription
      tags:
      - Subscription
  /subscription/{code}:
    get:
      operationId: subscription_fetch
      parameters:
      - explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Subscription
      tags:
      - Subscription
  /subscription/disable:
    post:
      operationId: subscription_disable
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubscriptionToggle'
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionToggle'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Disable Subscription
      tags:
      - Subscription
  /subscription/enable:
    post:
      operationId: subscription_enable
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubscriptionToggle'
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionToggle'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Enable Subscription
      tags:
      - Subscription
  /subscription/{code}/manage/link:
    get:
      operationId: subscription_manageLink
      parameters:
      - explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Generate Update Subscription Link
      tags:
      - Subscription
  /subscription/{code}/manage/email:
    post:
      operationId: subscription_manageEmail
      parameters:
      - explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Send Update Subscription Link
      tags:
      - Subscription
  /product:
    get:
      operationId: product_list
      parameters:
      - explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: active
        required: false
        schema:
          type: boolean
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: List Products
      tags:
      - Product
    post:
      operationId: product_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProductCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Resource created
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Product
      tags:
      - Product
  /product/{id}:
    delete:
      operationId: product_delete
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Delete Product
      tags:
      - Product
    get:
      operationId: product_fetch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Product
      tags:
      - Product
    put:
      operationId: product_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProductUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Update product
      tags:
      - Product
  /page:
    get:
      operationId: page_list
      parameters:
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The section to retrieve
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: List Pages
      tags:
      - Page
    post:
      operationId: page_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PageCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/PageCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Page
      tags:
      - Page
  /page/{id}:
    get:
      operationId: page_fetch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Page
      tags:
      - Page
    put:
      operationId: page_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PageUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/PageUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Update Page
      tags:
      - Page
  /page/check_slug_availability/{slug}:
    get:
      operationId: page_checkSlugAvailability
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Check Slug Availability
      tags:
      - Page
  /page/{id}/product:
    post:
      operationId: page_addProducts
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PageProduct'
          application/json:
            schema:
              $ref: '#/components/schemas/PageProduct'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Add Products
      tags:
      - Page
  /paymentrequest:
    get:
      operationId: paymentRequest_list
      parameters:
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The section to retrieve
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: Customer ID
        explode: true
        in: query
        name: customer
        required: false
        schema:
          type: string
        style: form
      - description: Invoice status to filter
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: "If your integration supports more than one currency, choose\
          \ the one to filter"
        explode: true
        in: query
        name: currency
        required: false
        schema:
          type: string
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: List Payment Request
      tags:
      - Payment Request
    post:
      operationId: paymentRequest_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PaymentRequestCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequestCreate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Payment Request
      tags:
      - Payment Request
  /paymentrequest/{id}:
    get:
      operationId: paymentRequest_fetch
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Payment Request
      tags:
      - Payment Request
    put:
      operationId: paymentRequest_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PaymentRequestUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequestUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Update Payment Request
      tags:
      - Payment Request
  /paymentrequest/verify/{id}:
    get:
      operationId: paymentRequest_verify
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Verify Payment Request
      tags:
      - Payment Request
  /paymentrequest/notify/{id}:
    post:
      operationId: paymentRequest_notify
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Send Notification
      tags:
      - Payment Request
  /paymentrequest/totals:
    get:
      operationId: paymentRequest_totals
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Payment Request Total
      tags:
      - Payment Request
  /paymentrequest/finalize/{id}:
    post:
      operationId: paymentRequest_finalize
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Finalize Payment Request
      tags:
      - Payment Request
  /paymentrequest/archive/{id}:
    post:
      operationId: paymentRequest_archive
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Archive Payment Request
      tags:
      - Payment Request
  /settlement:
    get:
      operationId: settlements_fetch
      parameters:
      - example: 50
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - example: 2
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Settlements
      tags:
      - Settlement
  /settlement/{id}/transaction:
    get:
      operationId: settlements_transaction
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Settlement Transactions
      tags:
      - Settlement
  /transferrecipient:
    get:
      operationId: transferrecipient_list
      parameters:
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The section to retrieve
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: List Transfer Recipients
      tags:
      - Transfer Recipient
    post:
      operationId: transferrecipient_create
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferRecipientCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRecipientCreate'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Resource created
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Create Transfer Recipient
      tags:
      - Transfer Recipient
  /transferrecipient/bulk:
    post:
      operationId: transferrecipient_bulk
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferRecipientBulk'
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRecipientBulk'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Bulk Create Transfer Recipient
      tags:
      - Transfer Recipient
  /transferrecipient/{code}:
    delete:
      parameters:
      - description: Transfer recipient code
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Delete Transfer Recipient
      tags:
      - Transfer Recipient
    get:
      operationId: transferrecipient_fetch
      parameters:
      - description: Transfer recipient code
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Transfer recipient
      tags:
      - Transfer Recipient
    put:
      parameters:
      - description: Transfer recipient code
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferRecipientUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRecipientUpdate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Update Transfer recipient
      tags:
      - Transfer Recipient
  /transfer:
    get:
      operationId: transfer_list
      parameters:
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The section to retrieve
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: List Transfers
      tags:
      - Transfer
    post:
      operationId: transfer_initiate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferInitiate'
          application/json:
            schema:
              $ref: '#/components/schemas/TransferInitiate'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Initiate Transfer
      tags:
      - Transfer
  /transfer/finalize_transfer:
    post:
      operationId: transfer_finalize
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferFinalize'
          application/json:
            schema:
              $ref: '#/components/schemas/TransferFinalize'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Finalize Transfer
      tags:
      - Transfer
  /transfer/bulk:
    post:
      operationId: transfer_bulk
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TransferBulk'
          application/json:
            schema:
              $ref: '#/components/schemas/TransferBulk'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        default:
          description: Server error
      summary: Initiate Bulk Transfer
      tags:
      - Transfer
  /transfer/{code}:
    get:
      operationId: transfer_fetch
      parameters:
      - description: Transfer code
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Fetch Transfer
      tags:
      - Transfer
  /transfer/verify/{reference}:
    get:
      operationId: transfer_verify
      parameters:
      - explode: false
        in: path
        name: reference
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
        "401":
          content:
            application/json:
              example:
                status: false
                message: Invalid key
              schema:
                $ref: '#/components/schemas/Error'
          description: Unauthorized operation
        "404":
          content:
            application/json:
              example:
                status: false
                message: Entity not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Entity not found
        default:
          description: Server error
      summary: Verify Transfer
      tags:
      - Transfer
  /transfer/export:
    get:
      operationId: transfer_download
      parameters:
      - description: Number of records to fetch per page
        explode: true
        in: query
        name: perPage
        required: false
        schema:
          type: integer
        style: form
      - description: The section to retrieve
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: The start date
        explode: true
        in: query
        name: from
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: The end date
        explode: true
        in: query
        name: to
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Request successful
[...]
